:root{
    height: 100%;
}

body {
    margin: 0;

    padding: 0;
    background: tan;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
}
body > *{
    padding-left: 10vw;
    padding-right: 10vw;
}
header {
    color: white;
    flex: 3 3 0;
    background-color: #1f2937;
    padding-bottom: 5%;
}
.header_container {
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 4vh;
}
h2 {
    padding: 0;
    margin: 0;
    flex: 1 1 0;

}
.top-links{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
    flex: 1 1 0;
    align-items: center;
    justify-content: end;
}
.header-bottom {
    display: flex;
    color: #F9FAF8;
}
h1{
    font-size: 48px;
    font-weight: 900;
}
.text-bottom{
    flex: 1 1 0;
    font-size: 18px;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    color: #E5E7EB;
    background-color: gray;
}
.text-bottom > button {
    background-color: rgb(114, 114, 255);
    border: 0;
    color: #F9FAF8;
    font-size: 18px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
}

main{
    background-color: white;
    flex: 6 6 0;
    display: flex;
    flex-direction: column;
}
main > div {
    
}

footer {
    flex: 1 1 0;
}